name: CodeCov

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov selenium pillow lxml keyring requests
    - name: Generate coverage report
        # The list of "--ignore=..." arguments should be identical to the exclusion list in Tox.ini, though without comments:
      run: >
        pytest --cov=./ --cov-report=xml
        --ignore=test/browser/input/select_1_test.py
        --ignore=test/browser/input/select_headless_exception_test.py
        --ignore=test/browser/viewport/get/height_non_headless_1_test.py
        --ignore=test/browser/viewport/get/size_non_headless_1_test.py
        --ignore=test/browser/viewport/get/width_non_headless_1_test.py
        --ignore=test/browser/viewport/set/height_non_headless_2_test.py
        --ignore=test/browser/viewport/set/size_non_headless_2_test.py
        --ignore=test/browser/viewport/set/size_by_device_non_headless_test.py
        --ignore=test/browser/viewport/set/width_non_headless_2_test.py
        --ignore=test/browser/window/get/height_1_test.py
        --ignore=test/browser/window/get/position_1_test.py
        --ignore=test/browser/window/get/size_1_test.py
        --ignore=test/browser/window/get/width_1_test.py
        --ignore=test/browser/window/set/height_2_test.py
        --ignore=test/browser/window/set/position_2_test.py
        --ignore=test/browser/window/set/size_2_test.py
        --ignore=test/browser/window/set/width_2_test.py
        --ignore=test/browser/window/fullscreen_test.py
        --ignore=test/browser/window/maximize_test.py
        --ignore=test/browser/window/minimize_test.py
        --ignore=test/browser/open/url_if_not_current/ignore_https_test.py
        --ignore=test/browser/open/url_if_not_current/timing_performance_test.py
        --ignore=test/browser/wait/random_seconds_test.py
        --ignore=test/browser/wait/seconds_test.py
        --ignore=test/browser/check_if/is_image_loaded_test.py
        --ignore=test/browser/get/dimensions_1_test.py
        --ignore=test/browser/set_viewport_test.py
        --ignore=test/browser/scroll/check_if/is_end_of_page_flow_test.py
        --ignore=test/browser/wait/until/images_have_loaded_test.py
        --ignore=test/helper/image/is_element_loaded_test.py
        --ignore=test/settings/download_dir/is_file_downloaded_test.py
        --ignore=test/type/xpath/exception_handling/method/wait_until_images_have_loaded_test.py
        --ignore=test/settings/proxy/set_proxy_test.py
    - name: Upload coverage report to CodeCov
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov
        chmod +x codecov
        ./codecov -t ${{ secrets.CODECOV_TOKEN }} -Z
