name: codecov

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

jobs:
  codecov:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov selenium pillow lxml keyring
    - name: Generate coverage report
        # The list of "--ignore=..." arguments should be identical to the exclusion list in Tox.ini, though without comments:
      run: >
        pytest --cov=./ --cov-report=xml
        --ignore=test/browser/combo/cookie_banner_test.py
        --ignore=test/browser/combo/login_test.py
        --ignore=test/browser/combo/search_test.py
        --ignore=test/browser/input/select_headless_exception_test.py
        --ignore=test/browser/viewport/get/height_non_headless_test.py
        --ignore=test/browser/viewport/get/size_non_headless_1_test.py
        --ignore=test/browser/viewport/get/width_non_headless_test.py
        --ignore=test/browser/viewport/set/size_non_headless_2_test.py
        --ignore=test/browser/viewport/set/size_by_device_non_headless_test.py
        --ignore=test/browser/window/get/height_1_test.py
        --ignore=test/browser/window/get/position_1_test.py
        --ignore=test/browser/window/get/size_1_test.py
        --ignore=test/browser/window/get/width_1_test.py
        --ignore=test/browser/window/set/position_2_test.py
        --ignore=test/browser/window/set/size_2_test.py
        --ignore=test/browser/window/fullscreen_test.py
        --ignore=test/browser/window/maximize_test.py
        --ignore=test/browser/window/minimize_test.py
        --ignore=test/browser/open/url_if_not_current_by_timing_performance_test.py
        --ignore=test/browser/wait/random_time_test.py
        --ignore=test/browser/check_if/is_image_loaded_test.py
        --ignore=test/browser/wait/until/images_have_loaded_test.py
        --ignore=test/helper/image/is_element_loaded_test.py
        --ignore=test/type/xpath/exception_handling/method/wait_until_images_have_loaded_test.py
    - name: Upload coverage to Codecov
      run: |
        curl -Os https://uploader.codecov.io/latest/macos/codecov
        chmod +x codecov
        ./codecov -t ${{ secrets.CODECOV_TOKEN }}
